<h3>Checkout</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" class="form-control" id="customerEmail" [(ngModel)]="customer.email" name="customerEmail" #customerEmail="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <div *ngIf="customerEmail.invalid && (customerEmail.dirty || customerEmail.touched)"class="alert alert-danger">
          <div *ngIf="customerEmail.errors.required">E-mail is required.</div>
          <div *ngIf="customerEmail.errors && customerEmail.errors.pattern">Email is invalid</div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Get Customer</button>
  </form>
</div>

<br/>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Customer: {{customerName}}</h2>
    </div>
</div>

<br/>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Cart</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{item.name}}</td>
                    <td>R${{item.value}}</td>
                    <td>{{item.quantity}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped" style="width: 200px;">
            <thead>
                <tr>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{total}}</td>
                </tr>
            </tbody>
        </table>        
        <div>
            <button (click)="buy()" class="btn btn-primary btn-lg">Buy</button>
        </div>
    </div>
</div>